.btn {
  display: grid; /* Enable grid layout */
  grid-template-columns: auto auto; /* Define two columns */
  grid-template-areas: "icon text"; /* Name the areas */
  align-items: center; /* Center items vertically */
  gap: 2vh; /* Space between icon and text */
  border: none;
  width: fit-content; /* Adjust width to fit its content */
  padding: 8px 16px; /* Padding around content */
  height: auto; /* Adjust height automatically */
  border-radius: 3em;
  background: #1c1a1c;
  cursor: pointer;
  transition: all 450ms ease-in-out;
  margin-top: 2vh;
}

.sparkle {
  grid-area: icon;
  position: relative;
  inset: 0 0 0 0;
  transform: translate(20%, 0%);

  fill: rgba(255, 255, 255, 0.4);
  transition:
    fill 800ms ease,
    transform 800ms ease;
}

.text {
  grid-area: text; /* Assign the text to the "text" area */
  color: #aaaaaa; /* Existing styles */
  font-weight: 600;
  font-size: medium;
}

.btn:hover {
  background: linear-gradient(0deg, #a47cf3, #683fea);
  box-shadow:
    inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917ff;
  transform: translateY(-2px);
}

.btn:hover .text {
  color: white;
}

.btn:hover .sparkle {
  fill: white;
}
