.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: #444544; /* Replace with your desired color */
} 

.dashboard {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Navbar, Content, Footer */
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: auto 1fr; /* Content and Footer */
  gap: 10px;
  padding: 10px;
  background-color: #444544; /* Replace with your desired color */
}

.grid-item {
  padding: 20px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-1 { background-color: #8a2be2; } /* Random color */
.grid-item-2 { background-color: #deb887; } /* Random color */
.grid-item-3 { background-color: #5f9ea0; } /* Random color */
.grid-item-4 {
  background-color: #008000; /* Green for Footer */
  grid-column: 1 / -1; /* Footer spans all columns */
}
