.dashboard {
  position: relative;
  display: grid;
  width: 100vw;
  height: 100vh;
  background-color: #444544; /* Replace with your desired color */
  grid-template-rows: auto 1fr auto; /* Navbar, Content, Footer */
}

.gridContainer {
  display: grid;
  grid-template-areas:
    "item1 item2 item2"
    "item1 item2 item2"
    "item3 item3 item3";
  padding: 10px;
  gap: 10px;
  background-color: #444544; /* Replace with your desired color */
  grid-template-rows: 1fr 1fr 1fr; /* Three rows for items and one for the footer */
}

.gridItem {
  display: flex;
  padding: 20px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.gridItem1 {
  background-color: #8a2be2;
  grid-area: item1;
} /* Random color */
.gridItem2 {
  background-color: #deb887;
  grid-area: item2;
} /* Random color */
.gridItem3 {
  background-color: #5f9ea0; /* This is your item3 color */
  grid-area: item3;
  justify-content: center; /* Center the waveform container horizontally */
  align-items: center; /* Center the waveform container vertically */
}

@media (max-width: 768px) {
  .gridContainer {
    grid-template-areas:
      "item1 item1"
      "item2 item2"
      "item3 item3";
    grid-template-rows: repeat(3, 1fr); /* Three rows */
  }

  .gridItem {
    font-size: 1em; /* Smaller font size for small screens */
  }
}

/* Media Queries for Larger Screens */
@media (min-width: 1200px) {
  .gridContainer {
    grid-template-columns: minmax(200px, 1fr) repeat(2, minmax(300px, 2fr));
    grid-template-areas:
      "item1 item2 item2"
      "item1 item2 item2"
      "item3 item3 item3";
  }

  .gridItem {
    font-size: 1.5em; /* Larger font size for large screens */
  }
}

/* Optionally, for even larger screens */
@media (min-width: 1920px) {
  .gridContainer {
    grid-template-columns: minmax(300px, 1fr) repeat(2, minmax(300px, 3fr));
    grid-template-rows: repeat(
      3,
      minmax(100px, 1fr)
    ); /* Ensuring rows are not too small */
  }

  /* Further adjustments for ultra-large screens */
}
