.dashboard {
  width: 100vw;
  height: 100vh;
  background-color: #444544; /* Replace with your desired color */
}

.dashboard {
  display: grid;
  grid-template-rows: auto 1fr auto; /* Navbar, Content, Footer */
  height: 100vh;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "item1 item2 item3"
    "item1 item2 item3"
    "footer footer footer";
  gap: 10px;
  padding: 10px;
  background-color: #444544; /* Replace with your desired color */
  grid-template-rows: 1fr 1fr auto; /* Two rows for items and one for the footer */
}

.grid-item {
  padding: 20px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item-1 {
  background-color: #8a2be2;
  grid-area: item1;
} /* Random color */
.grid-item-2 {
  background-color: #deb887;
  grid-area: item2;
} /* Random color */
.grid-item-3 {
  background-color: #5f9ea0;
  grid-area: item3;
} /* Random color */
.grid-item-4 {
  background-color: #008000;
  grid-column: 1 / -1;
  grid-area: footer;
  padding: 10px;
  height: 50px;
}
