.selectorContainer {
  display: flex;
  flex-direction: column;
  position: relative;
}

label {
  margin-bottom: 0.5rem;
}

.navigationElement {
  display: flex;
  align-items: center;
}

.selector {
  list-style-type: none; /* Remove default list styling */
  display: flex; /* Display options in a row */
  color:black;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.liShown{
  display: inline-block !important;
  user-select: none;
  text-align: center;
  font-weight: bolder;
  padding: 3px;
  width: 150px;
}



.arrow {
  display: inline-block;
  padding: 3px;
  cursor: pointer;
  user-select: none;
  transition: 0.8s cubic-bezier(0, -0.14, 0.17, 1.66);
}

.arrow:hover {
  transform: scale(1.5 ) rotateZ(360deg);
  
}