*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}
.nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
  width: 100vw;
  background: rgb(0, 33, 65);
  padding: 0 10px;
}
.nav__brand {
  text-transform: uppercase;
  font-weight: bold;
}
.nav__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nav__menu li {
  padding: 0 15px;
}
.nav__link {
  display: flex;
  align-items: center;
  height: 100%;
}
.nav__toggler {
  display: none;
}
.nav__toggler div {
  width: 2.5rem;
  height: 0.2rem;
  background: white;
  transition: 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .nav__toggler {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: relative;
    top: 7vh;
    right: 0;
    height: 93vh;
    width: 50vw;
    background: rgb(0, 33, 65);
    flex-direction: column;
    transform: translateX(100%);
    transition: 0.5s ease-in-out;
  }
}
.nav__active {
  transform: translateX(0%);
}

a img {
  margin-top: 5px;
  width: 45px;
  height: 45px;
}
.nav__item-triangle {
  position: relative;
}
.nav__item-triangle:before {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%) translateY(-200%);
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid transparent;
  transition: border-top-color 0.3s ease-in-out;
}
.nav__item-triangle:hover:before {
  border-top-color: #fff;
}
.nav__link {
  position: relative;
  align-items: left;
}
.nav__item {
  position: relative;
  display: flex;
}

.nav__item,
a,
.nav__item-triangle {
  transition: all 0.15s ease-in-out;
}

.nav__item:hover,
a:hover,
.nav__item-triangle:hover {
  color: rgb(167, 212, 238);
  font-size: 1.1em;
}

ul {
  display: flex; /* This displays list items in a row */
  align-items: center; /* This vertically centers the items in the navbar */
  padding: 0;
  margin: 0;
  list-style: none; /* Removes default list styling */
  gap: 100px;
}
