.confPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.gridContainer {
  flex-grow: 1;
}
/* Configuration Input Section */
.basicConfigurations {
  background-color: transparent;
  padding: 1rem;
  border-radius: 8px;
  border: solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  float: left;
}

.basicConfigurations label {
  display: block;
  margin-bottom: 0.5rem;
  color: white;
}

.basicConfigurations input[type="text"],
.basicConfigurations .radioButtonContainer {
  margin-bottom: 1rem;
}

.basicConfigurations input[type="text"] {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.basicConfigurations input[type="text"]:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 80, 0.25);
}

/* Radio Buttons Style */
.radioButtonContainer {
  display: flex;
  align-items: center;
}

.radioButtonContainer input[type="radio"] {
  margin-right: 0.5rem;
}

/* Buttons */
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 8px;
  box-shadow: 0 4px grey;
  cursor: pointer;
  margin: 4px 2px;
  transition: background-color 0.4s;
}

.buttonSection {
  display: flex;
  gap: 10px;
  bottom: 0;
}

.button:disabled {
  background-color: grey;
  pointer-events: none;
}

.button:not(:disabled):hover {
  background-color: #45a049;
}

/* Scrollable List */
.oldConfigurations {
  background-color: transparent;
  padding: 1rem;
  border-radius: 8px;
  border: solid white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  float: left;
}

.scrollableList {
  max-height: 300px;
  overflow-y: auto;
  margin-bottom: 1rem;
}

.scrollableListItem {
  padding: 0.5rem;
  border-bottom: 1px solid #eee;
}

.scrollableListItem:hover {
  background-color: #f9f9f9;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 480px) {
  .basicConfigurations,
  .oldConfigurations {
    padding: 0.5rem;
  }

  .button {
    padding: 0.5rem;
  }
}
