/* General Page Styles */
.conf-page {
  background-color: #444544;
  max-width: 100vw;
  max-height: 100vh;
}

/* Grid Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, auto);
  gap: 15px;
  row-gap: 0;
}

/* Basic Configurations */
.basic-configurations {
  display: flex;
  flex-direction: column;
  gap: 10px;
  grid-column: span 2;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Old Configurations */
.old-configurations {
  display: flex;
  flex-direction: column;
  padding: 15px;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.basic-configurations,
.old-configurations {
  min-height: 76vh;
}

/* Button Styles */
.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 4px #0d5d01;
}

.button-section {
  display: flex;
  gap: 10px;
  bottom: 0;
}

#save-button {
  grid-column: span 2;
}

/* Label and Input Styles */
.basic-configurations label,
.aes-radio-container label,
label {
  font-weight: bold;
  margin-bottom: 5px;
  color: #fff;
  grid-column: 1;
}

.basic-configurations input[type="text"],
input[type="radio"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
  font-size: 14px;
  grid-column: 1;
}

/* AES Radio Container */
.aes-radio-container {
  grid-column: 2;
  justify-content: center;
  align-items: center;
}

.radio-button-container {
  margin: 10px;
  padding: 5px;
}

/* General Label Style (overridden above) */
label {
  font-size: 16px;
  color: #333;
}
