.confPage {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "navbar"
    "configForm"
    "footer";
  height: 100vh;
}

.basicConfigurations {
  grid-area: configForm;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  column-gap: 2rem;
  color: white;
}

.configName {
}
.secureNetRow,
.unsecureNetRow {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  float: left;
}

.aesTypeSelector {
  grid-column: 1 / -1;
  margin-bottom: 2rem;
}

.oldConfigurations {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  overflow-y: auto;
}

.buttonSection {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
