.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y: hidden;
}

.about-us {
  flex: 1;
  max-width: 100%; /* Allow full width on smaller screens */
  margin: 0 auto;
  margin-top: 5.5em;
  text-align: center;
  color: #333;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: auto; /* Flexible height */
  margin: 10px 10px 10px 10px;
  padding: 15px;
}

.about-us h1 {
  color: #2a2a2a;
  margin-top: 5px;
}

.about-us p {
  text-align: center;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Responsive Footer */
.footer {
  position: sticky;
  bottom: 0;
}

/* Media Queries for Different Screen Sizes */
@media (max-width: 768px) {
  .about-us {
    margin-top: 3em;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .about-us {
    margin-top: 2em;
    padding: 5px;
  }
}
