:root {
  --text-headers-size: 3vmin;
  --text-paragraph-size: 2.5vmin;
}

* {
  font-size: var(--text-paragraph-size);
}

.maincontainer {
  min-height: 100vh;
}

.aboutus {
  display: block;
  border-radius: 8px;
  color: #dcdcdc;
  flex-direction: column;
  align-items: center;
  padding-inline: 5vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.aboutus::-webkit-scrollbar {
  display: none;
}

.aboutus h1,
.aboutus h2,
.aboutus h3 {
  margin-top: 1vh;
  margin-bottom: 1vh;
  color: #ffffff;
  text-align: center;
}

.aboutus h1 {
  font-size: var(--text-headers-size);
  font-weight: bolder;
}

.aboutus h2 {
  font-size: var(--text-headers-size);
  font-weight: bold;
}

.aboutus h3 {
  font-size: var(--text-headers-size);
  font-weight: bold;
}

/* Paragraph styles */
.aboutus p {
  text-align: center;
}

/* List styles */
.aboutus ul,
.aboutus ol {
  text-align: center;
}
