.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-y:hidden;
}

.about-us {
  flex: 1;
  max-width: 1250px;
  margin: 0 auto;
  margin-top: 5.5em;
  padding: 20px;
  text-align: center;
  color: #333;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 550px;
  margin-bottom: 50px;
}

.about-us h1 {
  color: #2a2a2a;
  margin-bottom: 20px;
}

.about-us p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 15px;
}
.footer {
  padding-top: 20px;
  position: sticky;
  bottom: 0;
}