:root {
  --text-headers-size: 3vmin;
  --text-paragraph-size: 2.5vmin;
}

* {
  font-size: var(--text-paragraph-size);
}

.maincontainer {
  min-height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
}

.aboutus {
  display: block;
  border-radius: 8px;

  color: #dcdcdc;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
  max-height: calc(100vh - 2rem); /* Set a maximum height */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.aboutus::-webkit-scrollbar {
  display: none;
}

.aboutus h1,
.aboutus h2,
.aboutus h3 {
  color: #ffffff;
  margin-top: 2rem;
  margin-bottom: 1rem;
  text-align: center;
}

.aboutus h1 {
  font-size: var(--text-headers-size);
  font-weight: bold;
}

.aboutus h2 {
  font-size: var(--text-headers-size);
  font-weight: bold;
}

.aboutus h3 {
  font-size: var(--text-headers-size);
  font-weight: bold;
}

/* Paragraph styles */
.aboutus p {
  text-align: center;
}

/* List styles */
.aboutus ul,
.aboutus ol {
  text-align: center;
  margin-left: 1.5rem;
}
